@page "/"
@page "/view_1"

<div class="row-layout view-1-container">
    <div class="column-layout group">
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" @onclick="@(e => _dialog!.ToggleAsync())" class="button button_1" view_1-scope>
            OPEN DIALOG
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbDatePicker Label="Date" Outlined="true" Mode="DatePickerMode.Dialog" class="date-picker" view_1-scope></IgbDatePicker>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_2" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_3" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_4" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_5" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_6" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_7" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_8" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_9" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_10" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_11" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_12" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_13" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_14" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_15" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_16" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_17" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_18" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_19" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_20" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_21" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_22" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_23" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_24" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_25" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_26" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
    </div>
    <IgbDialog CloseOnOutsideClick="true" @ref="_dialog">
        <h5 slot="title">
            Confirmation
        </h5>
        <p class="typography__body-1 text">
            This is a simple custom dialog
        </p>
        <div slot="footer">
            <IgbButton DisplayType="ButtonBaseType.Button" class="button" view_1-scope>
                ADD PRODUCT
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" class="button" view_1-scope>
                Cancel
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
    </IgbDialog>
    <div class="column-layout group">
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_27" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbDatePicker Label="Date" Outlined="true" Mode="DatePickerMode.Dialog" class="date-picker" view_1-scope></IgbDatePicker>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_28" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_29" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_30" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_31" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_32" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_33" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_34" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_35" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_36" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_37" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_38" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_39" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_40" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_41" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_42" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_43" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_44" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_45" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_46" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_47" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_48" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_49" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_50" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_51" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_52" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
    </div>
    <div class="column-layout group">
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_53" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbDatePicker Label="Date" Outlined="true" Mode="DatePickerMode.Dialog" class="date-picker" view_1-scope></IgbDatePicker>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_54" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_55" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_56" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_57" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_58" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_59" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_60" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_61" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_62" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_63" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_64" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_65" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_66" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_67" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_68" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_69" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_70" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_71" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_72" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_73" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_74" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_75" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_76" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_77" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_78" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
    </div>
    <div class="column-layout group">
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_79" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbDatePicker Label="Date" Outlined="true" Mode="DatePickerMode.Dialog" class="date-picker" view_1-scope></IgbDatePicker>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_80" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_81" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_82" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_83" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_84" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_85" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_86" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_87" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_88" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_89" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_90" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_91" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_92" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_93" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_94" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_95" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_96" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_97" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_98" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_99" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_100" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_101" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_102" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_103" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_104" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
    </div>
    <div class="column-layout group">
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_105" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbDatePicker Label="Date" Outlined="true" Mode="DatePickerMode.Dialog" class="date-picker" view_1-scope></IgbDatePicker>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_106" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_107" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_108" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_109" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_110" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_111" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_112" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_113" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_114" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_115" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_116" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_117" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_118" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_119" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_120" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_121" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_122" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_123" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_124" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_125" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_126" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_127" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_128" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_129" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button button_130" view_1-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
    </div>
</div>

@code {
    private IgbDialog _dialog;
}
