.row-layout {
    display: flex;
}
.view-3-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.column-layout {
    display: flex;
    flex-direction: column;
}
.group {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 16px;
    position: relative;
    padding: 16px;
    min-width: 50px;
    min-height: 50px;
    flex-grow: 1;
    flex-basis: 0;
}
.card {
    height: max-content;
}
.media-content {
    height: 200px;
    min-height: 200px;
    max-height: 200px;
}
.body-content {
    min-width: 50px;
    min-height: 50px;
}
.actions-content {
    min-width: 50px;
    min-height: 40px;
}
.image {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}
.text {
    height: max-content;
    min-width: min-content;
}
.button {
    --ig-size: var(--ig-size-medium);
    height: max-content;
}
